* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Raleway&family=Roboto:ital,wght@0,400;0,500;1,300&family=Rubik&display=swap');


html {
    height: 100%;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;    
}

main {
    flex:1;
    border: 1px solid #550f48;
}

.app {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

.header__container {
    height: 64px;
}




.footer__container {
    display: flex;
    /* flex: 1; */
    background: #d6c5d3;
    /* height: 100%; */
    padding: 1rem;
    color: gray;
    height: 64px;
}

.footer__container p {
    padding: 3px;
}

.main__container {
    flex: 1;
}


nav {
    height: 64px;
    display: flex;
    background-color: #6f2961;
    color: white;
    font-weight: bold;
}

.nav__left {
    flex: 1;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding: 0 1rem 0 0;
}

.nav__left img {
    height: 40px;
    padding: 0 1rem 0 1rem;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 3rem;
    align-items: center;
}

.nav__item {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    padding: 5px;

}

.nav__item:hover {
    color: #6f2961;
    background-color: white;
    /* font-weight: bold; */
    border-radius: 50px;
    padding: 5px;
  }

.keywords__search {
    flex: 0.5;
    border: 1px solid #6f2961;
    border-radius: 50px;
    padding: 3px 3px 3px 40px;
    background: white url("search.svg") no-repeat 13px;
}

.submit__btn {
    margin: 2px;
    padding: 5px;
    border: 1px solid #6f2961;
    border-radius: 50px;
    color:#6f2961;
    font-weight: bold;
}

.submit__btn:hover {
    border-radius: 50px;
    color:white;
    background-color: #6f2961;
    border: 1px solid white;
}

/* main > badge */

.badge__list {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    list-style: none;
}

.badge__item {
    background: #6f2961;
    color: white;
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 2px;
    text-decoration: none;
}

/* main > product__container */

.product__head {
    display: flex;
    background-color: white;

}

.category {
    padding: 1rem;
    flex: 1;
}
.category span {
    border: 3px solid #9a6e3b;
    border-radius: 50px;
    background: #ab8b61;
    color: #3d2a1c;
    font-weight: bold;
    padding: 5px;
}

.filter , .sort__by  {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;

}

.filter select , .sort__by select{
    border-radius: 50px;
    padding: 3px;
}

/* Product__card */

.product__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.product__card {
    box-shadow: 0 4px 8px 0 #d6c5d3;
    width: 300px;
    /* height: 300px; */
    margin: 20px 20px 20px 20px;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
    border: 1px solid #6f2961;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

.product__card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #6f2961;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .product__card button:hover {
    opacity: 0.7;
  }

  .product__card img {
    width: 250px;
    height: 300px;
    object-fit: cover;
  } 

  .product__card p {
    color: grey;
    font-size: 22px;
    padding: 5px;
  }

  .product__card span {
    padding: 5px;
  }

  /* media query mobile */
  @media (max-width: 768px) {
    .nav__right , .nav__left img {
        display: none;
    }

    .header__container {
        height: 100%;
    }

    .nav__left {
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .nav__list {
        flex-direction: column;
        gap: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 5px;
    }

    .nav__list li {
        margin: 2px 0 2px 0;
        border: 1px solid #e0d9d9;
        padding: 5px;
        width: 300px;
        justify-content: center;
        display: flex;
        border-radius: 30px;
    }

    .nav__item{
        align-items: center;
    }

    nav {
        height: 180px;
    }


  }